In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
raw_mail_d = pd.read_csv(r"D:\Python\ML projects\13. Spam Mail\mail_data.csv")

In [3]:
raw_mail_d.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
raw_mail_d.isnull().sum()

Category    0
Message     0
dtype: int64

In [5]:
# to remove null values (like empty strings)

mail_d = raw_mail_d.where((pd.notnull(raw_mail_d)),'')

In [6]:
mail_d.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
mail_d.shape

(5572, 2)

In [8]:
mail_d.replace({'Category':{'spam':0,'ham':1}}, inplace=True)

Spam = 0  
Ham = 1

In [9]:
mail_d.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [10]:
x = mail_d['Message']
y = mail_d['Category']

In [11]:
print(x,y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object 0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1)

In [25]:
# Feature Extraction using TFIDF
# Transform text data into feature vectors

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

# convert data type for Y as integers

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [26]:
print(x_test_features)

  (0, 7406)	0.7202901083692191
  (0, 5207)	0.693672948719682
  (1, 7408)	0.39146814311442063
  (1, 5220)	0.4705918182872853
  (1, 4400)	0.5934443291757167
  (1, 4191)	0.3895427356578373
  (1, 3071)	0.3483910428713775
  (2, 7181)	0.7357795587192053
  (2, 994)	0.6772211167491541
  (3, 3259)	1.0
  (4, 7336)	0.3056500641731669
  (4, 7100)	0.18546351525534188
  (4, 6030)	0.5868928485020234
  (4, 5925)	0.3163109675928492
  (4, 5196)	0.33058431450158204
  (4, 3951)	0.2762463598251023
  (4, 2854)	0.2623110272820492
  (4, 2093)	0.19907660636915728
  (4, 1604)	0.2934464242510117
  (4, 1067)	0.2180322556038374
  (5, 7120)	0.41930198660651424
  (5, 7095)	0.47776118013894237
  (5, 6602)	0.4818760834807631
  (5, 4743)	0.33583035252339755
  (5, 3101)	0.3500213296091081
  :	:
  (1111, 2886)	0.11453235557068618
  (1111, 2761)	0.18749587684632552
  (1111, 2652)	0.4776476584652413
  (1111, 2540)	0.36360411501974377
  (1111, 2067)	0.2044709693034356
  (1111, 1873)	0.19469034463818594
  (1111, 1002)	0.1695641172846675
  (1111, 692)	0.22770529650512397
  (1111, 354)	0.23882382923262066
  (1111, 346)	0.22770529650512397
  (1111, 70)	0.23882382923262066
  (1112, 7416)	0.35668207768327437
  (1112, 6940)	0.4013881537648428
  (1112, 6634)	0.41288735388494413
  (1112, 5401)	0.34019679210398324
  (1112, 4573)	0.2612062549945248
  (1112, 3662)	0.4990767545934978
  (1112, 3025)	0.32886061864716865
  (1114, 7397)	0.3194962937300205
  (1114, 6607)	0.42274337683139135
  (1114, 6194)	0.4475220509477496
  (1114, 4035)	0.2502028994570357
  (1114, 2353)	0.2851630408099277
  (1114, 1805)	0.4091066884243912
  (1114, 1641)	0.45568238532913335

In [27]:
model = LogisticRegression()

In [28]:
model.fit(x_train_features, y_train)

predict_train = model.predict(x_train_features)
acc_train = accuracy_score(y_train, predict_train)
print(acc_train)

0.9681400044873233

In [29]:
predict_test = model.predict(x_test_features)
acc_test = accuracy_score(y_test, predict_test)
print(acc_test)

0.9704035874439462

In [24]:
print(x_train_features.shape, x_test_features.shape, y_test.shape)

(4457, 7454) (1115, 3330) (1115,)

In [35]:
input_d = ['Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C''s apply 08452810075over18''s']
input_d = feature_extraction.transform(input_d)

prediction = model.predict(input_d)

if prediction[0]==0:
    print("You've been spammed")
else:
    print('Someone remembers you')

You've been spammed